body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark background */
    color: #fff; /* Light text */
}

#title-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #222; /* Slightly lighter than the body for contrast */
}

#title {
    color: #fff;
    margin: 0;
    padding: 20px 0;
}

#container {
    display: flex;
    flex-direction: row; /* This will arrange the child divs in a row */
    width: 100%;
    align-items: start; /* Align the start of the items to the top */
}

#controls, #ava-controls {
    width: 50%; /* Allocate 50% width each */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width */
}

.controls-container {
    display: flex; /* Puts children side by side */
    justify-content: space-between; /* Space out children */
    width: 100%; /* Use full width of the viewport */
}

#params-container, #ava-params-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add some space before the buttons */
}

.param {
    display: flex; /* Enable flexbox for direct children */
    align-items: center; /* Align label and input on the cross axis */
    margin-bottom: 5px; /* Reduce space between each parameter div */
}

.param label {
    flex: 0 0 40%; /* Label width, not growing or shrinking */
    margin-right: 10px; /* Space between label and input */
}

.param input.invalid-input {
    border: 1px solid #ff4136; /* Red border for invalid input */
}

.param input {
    flex: 1; /* Input will fill up the remaining space */
    padding: 8px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    border-radius: 3px;
}

.dropdown {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
    border-radius: 3px;
}

.action-button {
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #444; /* Dark background for buttons */
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.action-button:hover {
    opacity: 0.8; /* Slight transparency on hover */
}

#graph-container {
    width: 100%;
    margin-top: 20px;
    margin: 10px 0;
    background-color: #000; /* Dark background for the graph container */
    border: 1px solid #222; /* Subtle border for the graph container */
    border-radius: 5px;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
    }

    #controls, #ava-controls, #graph-container {
        width: 95%; /* Adjust for smaller screens */
        margin-bottom: 10px;
    }

    #controls-container {
        flex-direction: column;
    }
}
