<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trollope Trading - Finance Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <header id="title-container">
    <h1 id="title">Trollope Trading</h1>
  </header>
  <div id="container">
    <div id="controls">
      <h2>New Model</h2>
      <select id="model-dropdown" class="dropdown"></select>
      <div id="params-container"></div>
      <button id="add-params" class="action-button">Add</button>
    </div>
    <div id="ava-controls">
      <h2>Active Models</h2>
      <select id="ava-model-dropdown" class="dropdown"></select>
      <div id="ava-params-container"></div>
      <div id="model-labels-container"></div>
      <div id="model-actions">
        <button id="update-params" class="action-button">Update</button>
        <button id="delete-model" class="action-button">Delete</button>
        <button id="exit" class="action-button">Exit</button>
      </div>
    </div>
  </div>
  <div id="graph-container"></div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
